html {
    --color-background: #FFFFFF;
    --color-background-cover: #FFFFFFB0;
    --color-background-highlight: #ececec;
    --color-background-highlight-cover: #ecececb0;
    --color-background-border: #d6d6d6;
    --color-dev-background: #0b0b0b;
    --color-dev-background-cover: #0b0b0bb0;
    --color-dev-background-highlight: #0000ff;
    --color-dev-background-highlight-cover: #0000ffb0;
    --color-dev-background-border: #161616;
    --color-accent: #30d29f;
    --color-accent-text: #d7fff2;
    --color-error: #ff5b5b;
    --color-error-border: #ff5b5b;
    --color-error-text: #ffe3e3;
    --color-text: #000000;
    --color-text-highlight: #5c5c5c;
    --color-dev-text: #00ff00;
    --color-dev-text-highlight: #ffffff;
    --color-input: #ffffff;
    --color-red: red;
    --color-green: green;
}
html[data-theme="dev"] {
    --color-background: var(--color-dev-background);
    --color-background-cover: var(--color-dev-background-cover);
    --color-background-highlight: var(--color-dev-background-highlight);
    --color-background-highlight-cover: var(--color-dev-background-highlight-cover);
    --color-background-border: var(--color-dev-background-border);
    --color-text: var(--color-dev-text);
    --color-text-highlight: var(--color-dev-text-highlight);
}
html[data-theme="dark"] {
    --color-background: #3b3b3b;
    --color-background-cover: #3b3b3bb0;
    --color-background-highlight: #333333;
    --color-background-highlight-cover: #333333b0;
    --color-background-border: #535353;
    --color-accent: #1d956f;
    --color-accent-border: #15694e;
    --color-accent-text: #c1e5da;
    --color-error: #e33737;
    --color-error-border: #c93939;
    --color-error-text: #ffc9c9;
    --color-text: #dfdfdf;
    --color-text-highlight: #979797;
    --color-input: #ffffff;
    --color-input-text: #060000;
    --color-red: red;
    --color-green: lime;
}
body {
    background-color: var(--color-background);
    margin: 0.6rem;
    font-family: Roboto;
    position: absolute;
    color: var(--color-text);
    overflow-x: hidden;
    padding-bottom: 3.2rem;
}
body[data-transitions="true"] {
    transition: color 0.3s, background-color 0.3s;
}
body::-webkit-scrollbar {
    width: 0.8rem;
    transform: translateY(10rem);
}
body::-webkit-scrollbar-track {
    background-color: var(--color-background-border);
    border-radius: 0.4rem 0 0 0.4rem;
}
body::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 0.4rem;
    transition: background-color 0.3s;
    border: 0.2rem var(--color-background-border) solid;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}
.concave-corner {
    background-color: var(--color-background-highlight);
    clip-path: url(#inward-circle);
    transition: clip-path 0.5s ease-in-out, width 0.3s, height 0.3s;
    padding: 0;
}
#navbar {
    display: flex;
    top: 0.6rem;
    left: 0.6rem;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    box-shadow: 0 1rem 2rem #00000030;
    border-radius: 1.6rem;
    width: calc(100% - 1.2rem);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    z-index: 99;
}
body[data-transitions="true"] #navbar {
    transition: border-radius 0.3s;
}
#navbar-account {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    font-weight: 700;
    font-size: 1.3rem;
    margin-right: 1rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mobile #navbar-account {
    margin-right: 0.6rem;
}
body[data-transitions="true"] #navbar-account {
    transition: font-size 0.3s;
}
#navbar-panel,
#navbar-login,
#navbar-signup,
#navbar-logout,
#navbar-cart {
    cursor: pointer;
}
body[data-transitions="true"] #navbar-panel,
body[data-transitions="true"] #navbar-login,
body[data-transitions="true"] #navbar-signup,
body[data-transitions="true"] #navbar-logout,
body[data-transitions="true"] #navbar-cart {
    transition: color 0.3s;
}
html:not(.mobile) #navbar-panel:hover,
html:not(.mobile) #navbar-login:hover,
html:not(.mobile) #navbar-signup:hover,
html:not(.mobile) #navbar-logout:hover,
html:not(.mobile) #navbar-cart:hover {
    color: var(--color-text-highlight);
}
#navbar-username {
    cursor: pointer;
    background-color: var(--color-background-highlight);
    padding-block: 0.8rem;
    padding-inline: 1.2rem;
    margin-block: 0.5rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.4rem #00000040;
}
.mobile #navbar-account>* {
    flex: 0 0 auto;
}
.mobile #navbar-username {
    margin-left: 0.4rem;
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
body[data-transitions="true"] #navbar-username {
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
}
html:not(.mobile) #navbar-menu {
    display: none;
}
.mobile #navbar-menu {
    font-size: 1.6rem;
    cursor: pointer;
    text-shadow: 0 0.1rem 0.2rem #00000067;
    margin-top: 0.2rem;
}
.mobile #navbar-panel,
.mobile #navbar-login,
.mobile #navbar-signup,
.mobile #navbar-logout,
.mobile #navbar-cart {
    display: none !important;
}
#navbar-logo {
    width: 10rem;
    opacity: 1;
    transition: filter 0.3s;
    filter: brightness(0%);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
html[data-theme="dark"] #navbar-logo {
    filter: brightness(0.87);
}
html[data-theme="light"] #navbar-logo {
    filter: brightness(0);
}
body[data-transitions="true"] #navbar-logo {
    transition: opacity 0.3s, width 0.3s, filter 0.3s;
}
#navbar-block {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-background);
    width: 100%;
    height: 0.2rem;
    z-index: 10;
}
body[data-transitions="true"] #navbar-block {
    transition: background-color 0.3s;
}
#navbar-gradient {
    position: fixed;
    top: 0.2rem;
    left: 0;
    background-image: linear-gradient(to bottom, #FFF, #ffffff00);
    width: 100%;
    height: 2rem;
    z-index: 10;
}
body[data-transitions="true"] #navbar-gradient {
    transition: filter 0.3s;
}
html[data-theme="dark"] #navbar-gradient {
    filter: brightness(0.231372549);
}
html[data-theme="light"] #navbar-gradient {
    filter: brightness(1);
}
#navbar-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 0.6rem;
}
#navbar-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-highlight);
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0.15rem 0.3rem #00000040;
}
body[data-transitions="true"] #navbar-back {
    transition: color 0.3s, background-color 0.3s;
}
html:not(.mobile) #navbar-back:hover {
    color: var(--color-text-highlight);
}
#navpanel-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    transition: backdrop-filter 0.3s;
    pointer-events: none;
}
#navpanel-container.showing {
    backdrop-filter: blur(0.3rem);
    pointer-events: all;
}
#navpanel-container .corner {
    width: 1.2rem;
    height: 1.2rem;
    transition: transform 0.3s, background-color 0.3s;
    transform: translateX(2.4rem);
    margin-left: calc(100vw - 1.2rem);
    background-color: var(--color-background-highlight);
}
#navpanel-container .corner:first-child {
    margin-top: 2rem;
    clip-path: url(#bottom-right-circle);
}
#navpanel-container .corner:last-child {
    margin-bottom: 2rem;
    clip-path: url(#top-right-circle);
    background-color: var(--color-background);
}
#navpanel-container.showing .corner {
    transform: none;
}
#navpanel {
    margin-left: 3.2rem;
    background-color: var(--color-background-highlight);
    width: calc(100vw - 3.2rem);
    height: calc(100vh - 6.4rem);
    border-radius: 2rem 0 0 1rem;
    box-sizing: border-box;
    padding: 1rem;
    transition: transform 0.3s, background-color 0.3s;
    transform: translateX(calc(100vw - 3.2rem));
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    position: relative;
}
#navpanel-container.showing #navpanel {
    transform: none;
}
#navpanel>div:not(#navpanel-bottom) {
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 550;
    width: 100%;
    background-color: var(--color-background);
    padding: 0.8rem;
    border-radius: 0.8rem;
    transition: background-color 0.3s, color 0.3s;
}
#navpanel>#navpanel-title {
    font-size: 1.8rem!important;
    font-weight: 800!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem!important;
}
#navpanel>#navpanel-title>i {
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
}
#navpanel>#navpanel-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - 3.2rem);
    height: 6rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 700;
}
#navpanel>#navpanel-bottom>div {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    border-radius: 0 1.6rem 0 1rem;
    transition: background-color 0.3s;
}
#navpanel>#navpanel-bottom>#navpanel-theme {
    border-radius: 1.6rem 0 0 0;
}
#navpanel>#navpanel-bottom>div>i {
    font-size: 2.4rem;
}
#navpanel>#navpanel-bottom>div>i.fa-moon {
    color: #2c85d4;
}
#navpanel>#navpanel-bottom>div>i.fa-sun {
    color: #ffdd00;
}
#alert-system-container {
    display: flex;
    bottom: -5.6rem;
    left: 0;
    position: fixed;
    gap: 0.4rem;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#alert-system-container.showing {
    bottom: 0.6rem;
}
body[data-transitions="true"] #alert-system-container {
    transition: bottom 0.2s;
}
#alert-system {
    font-size: 1.2rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0.15rem 0.3rem #00000057;
    border-radius: 4rem;
    background-color: var(--color-background-highlight);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body[data-transitions="true"] #alert-system {
    transition: background-color 0.3s;
}
#alert-system>i {
    font-size: 1.4rem;
}
#alert-system>i.fa-xmark-circle {
    color: var(--color-red);
}
#alert-system>i.fa-check-circle {
    color: var(--color-green);
}
body[data-transitions="true"] #alert-system>i {
    transition: color 0.3s;
}
#alert-system>span>code {
    font-size: 1rem;
    background-color: var(--color-background);
    padding-block: 0.2rem;
    padding-inline: 0.3rem;
    border-radius: 0.4rem;
    display: inline;
}
